* {
  margin: 0px;
  padding: 0px;
}

.parent {
  display: flex;
  flex-direction: row;
  font-size: 50px;
}

.parent div {
  width: 50%;
  height: 100vh;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parent .first-part {
  background-color: #fea500;
}

.parent .second-part {
  background-color: #0000fe;
}
